@import 'common';

.signup{
    width:640px;
    margin:0 auto;
    padding-top:50px;
    h2{
        font-size: 28px;
        line-height: 35px;
        font-weight: 500;
        text-align: center;
        letter-spacing: -1px;
        color: rgb(51, 51, 51);
    }
    .form_area{
        position:relative;
        margin-top: 50px;
        width:100%;
        border-top: 2px solid rgb(51, 51, 51);
        .icon_star{
            color: rgb(238, 106, 123);
            font-size: 12px;
        }
        .top_info{
            position:absolute;
            top:-29px;
            right:0;
            padding-bottom: 10px;
            font-size: 12px;
            color: rgb(102, 102, 102);
            line-height: 17px;
            text-align: right;
        }
        .f_wrap{
            display:flex;
            padding: 10px 20px;
            // radio design
            .radio_box{
                display: flex;
                align-items: center;
                gap: 12px;
                .radio{
                    position:relative;
                    display:inline-block;
                    width:24px;
                    height:24px;
                    overflow:hidden;
                    font-size:14px;
                    input{
                        position:absolute;
                        top:0;
                        left:-30px;
                        &:checked{
                            & + div:after{
                                display:block;
                            }
                        }
                    }
                    div{
                        position:relative;
                        width:24px;
                        height:24px;
                        border: 1px solid rgb(221, 221, 221);
                        border-radius: 50%;
                        &:after{
                            content:'';
                            display:none;
                            position:absolute;
                            top:-1px;
                            left:-1px;
                            width:24px;
                            height:24px;
                            background-color:#fff;
                            border:7px solid $main-color;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }
                    }
                }
            }
            // checkbox design
            .check_box{
                display: flex;
                align-items: center;
                gap: 12px;
                .check{
                    position:relative;
                    display:block;
                    width:24px;
                    height:24px;
                    overflow:hidden;
                    font-size:14px;
                    color: rgb(51, 51, 51);
                    input{
                        position:absolute;
                        top:-30px;
                        left:-30px;
                        & + div{
                            width:24px;
                            height:24px;
                            line-height:26px;
                            border-radius: 50%;
                            border:1px solid rgb(221, 221, 221);
                            color: rgb(221, 221, 221);
                            text-align:center;
                        }
                        &:checked{
                            & + div{
                                background-color:$main-color;
                                border:none;
                                color:#fff;
                            }
                        }
                    }
                    & + strong{
                        color: rgb(153, 153, 153);
                    }
                }   
            }
            & > span{
                width: 139px;
                padding-top: 12px;
            }
            & > div:nth-child(2){
                width: 333px;
                input:not([type='radio']):not([type='checkbox']){
                    width:100%;
                    height: 46px;
                    padding: 0px 11px 1px 15px;
                    border-radius: 4px;
                    border: 1px solid rgb(221, 221, 221);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: rgb(51, 51, 51);
                }
                .btn_search_addr{
                    display:block;
                    padding: 0px 10px;
                    text-align: center;
                    overflow: hidden;
                    width: 333px;
                    height: 44px;
                    border-radius: 4px;
                    color: rgb(95, 0, 128);
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(95, 0, 128);
                    & + em{
                        display:block;
                        display: block;
                        margin-top: 10px;
                        font-size: 12px;
                        line-height: 18px;
                        color: rgb(102, 102, 102);
                    }
                }
                &.gender_area{
                    display:flex;
                    justify-content: start;
                    gap:50px; 
                }
                .txt{
                    margin-top:8px;
                    font-size: 13px;
                    color: rgb(240, 63, 64);
                }
            }
            .depth2{
                display:flex;
                flex-direction: column;
                .gender_area{
                    display:flex;
                    justify-content: space-between;
                }
            }
            .get_number,
            .get_dblcheck{
                width:120px;
                height: 44px;
                margin-left: 8px;
                border-radius: 3px;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                border:1px solid rgb(221, 221, 221);
                color: rgb(221, 221, 221);
                cursor: pointer;
            }
            &.recommend_area{
                & > div{
                    padding-top:8px;
                }
                .option{
                    position:relative;
                    margin-top:30px;
                    button{
                        position:absolute;
                        top:0;
                        right:-130px;
                        width:120px;
                        height: 44px;
                        margin-left: 8px;
                        border-radius: 3px;
                        color:$main-color;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid $main-color;
                    }
                    ul{
                        margin-top:10px;
                        padding-left:10px;
                        li{
                            position:relative;
                            color: rgb(102, 102, 102);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            &:after{
                                content:'ã†';
                                display:block;
                                position:absolute;
                                top:0;
                                left:-10px;
                            }
                        }
                    }
                }
            }
            &.birth{
                .depth2{
                    & > div:first-child{
                        display:flex;
                        justify-content: space-between;
                        width: 333px;
                        height: 46px;
                        padding: 0px 11px 1px 15px;
                        border-radius: 4px;
                        border: 1px solid rgb(221, 221, 221);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;
                        color: rgb(51, 51, 51);
                        & > input[type='text']{
                            width:96px;
                            border:0 !important;
                            text-align:center;
                            background:transparent;
                        }
                        & > span{
                            font-size: 14px;
                            line-height: 46px;
                            color: rgb(51, 51, 51);
                        }
                    }
                }
            }
            &.agree_area{
                margin-top:10px;
                border-top: 1px solid rgb(51, 51, 51);
                color: rgb(51, 51, 51);
                & > div {
                    flex-grow:1;
                    &  > div{
                        display:flex;
                        padding: 8px 0px;
                        &.total{
                            flex-direction: column;
                            .check_box{
                                font-weight: 500;
                                font-size: 18px;
                            }
                            
                            .info_txt{
                                font-size: 12px;
                                color: rgb(102, 102, 102);
                                padding-top: 4px;
                                padding-left: 36px;
                            } 
                        }
                        button{
                            margin-left:auto;
                            color: rgb(95, 0, 128);
                            &:after{
                                content:'>';
                                padding-left:5px;
                            }
                        }
                        
                    }
                    .option{
                        flex-direction: column;
                        & > div{
                            display:flex;
                            flex-direction: row;
                            padding: 8px 0px 8px 30px;
                            gap:40px;
                        }
                    }
                }
                
            }
            .email{
                display:flex;
                width: 333px;
                height: 46px;
                border-radius: 4px;
                border: 1px solid rgb(221, 221, 221);
                & > input{
                    width:166px !important;
                    height:44px;
                    border:0 !important;
                    background-color: transparent;
                }
                .select{
                    position:relative;
                    flex:1;
                    z-index:10;
                    .default{
                        position:relative;
                        input[type='text']{
                            width:100%;
                            height: 46px;
                            line-height: 46px;
                            font-weight: 400;
                            font-size: 16px;
                            border:0;
                            background-color: transparent;
                            color: rgb(51, 51, 51);
                        }
                        ::placeholder{
                            color: rgb(153, 153, 153);
                        }
                        &:before{
                            content:'@';
                            position:absolute;
                            top:0;
                            left:0;
                            height: 46px;
                            line-height: 46px;
                            width:15px;
                        }
                        span{
                            position:absolute;
                            top: 4px;
                            right: 5px;
                            font-size: 25px;
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                    ul{
                        position:absolute;
                        top:45px;
                        left:0;
                        width:100%;
                        border: 1px solid rgb(221, 221, 221);
                        padding:10px 0;
                        text-align:center;
                        background-color: #fff;
                        li{
                            padding:3px 0;
                            button{
                                font-size: 13px;
                                font-weight: 400;
                                letter-spacing: -0.5px;
                                color: rgb(128, 128, 128);
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn{
        border-top: 1px solid rgb(247, 247, 247);
        padding: 40px 0px;
        text-align: center;
        button{
            width: 240px;
            height: 56px;
            border-radius: 3px;
            color: rgb(255, 255, 255);
            background-color: rgb(95, 0, 128);
            border: 0px none;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}